.alert-container {
  position: fixed;
  font-size: 15px;
  top: 20px;
  right: 20px;
  padding: 13px 40px 13px 25px;
  border-radius: 3px;
  width: auto;
  min-width: 250px;
  cursor: pointer;
  opacity: 0.9;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;

  &.success {
    background-color: #4b974c;
    color: white;

    &:hover {
      background-color: rgba(#4b974c, 0.75);
    }
  }

  &.error {
    background-color: #c5271d;
    color: white;

    &:hover {
      background-color: rgba(#c5271d, 0.75);
    }
  }

  &.warning {
    background-color: #fdea8d;
    color: white;
    animation: flash 5s infinite;
    -webkit-animation: flash 5s infinite;

    &:hover {
      background-color: rgba(#fdea8d, 0.75);
    }
  }


  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}


@-webkit-keyframes flash {
  0% { opacity: 0; }
  45% { opacity: 1;}
  50% { opacity: 0;}
  95% { opacity: 1;}
  100% { opacity: 0.5;}
}

@keyframes flash {
  0% { opacity: 0; }
  35% { opacity: 1;}
  50% { opacity: 0;}
  85% { opacity: 1;}
  100% { opacity: 0;}
}
