.app-container {
  font-size: 24px;
}

.hover-effect {
  position: absolute;
  width: 5px;
  height: 5px;
  box-shadow: inset 0px 0px 0px 50px rgba(122,122,122,0.5);
  pointer-events: none;
}

.main-container {
  box-sizing: content-box;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}